* {
  scrollbar-background: #696969;
  scrollbar-background-active: #696969;
  scrollbar-background-hover: #696969;
  scrollbar-color: #A9A9A9;
  scrollbar-color-active: #A9A9A9;
  scrollbar-color-hover: #A9A9A9;
}

Screen {
  layout: vertical;
  background: #000000;
  align-horizontal: center;
}

Markdown { 
  padding: 0;
  margin: 0;
}

LoadingIndicator {
  color: #A9A9A9;
  margin-left: 2;
}

#loading {
  width: 5;
  height: 1;
}

#ascii-art-container {
  align-horizontal: center;
  align-vertical: middle;
  height: 23;
}

#ascii-art {
  align-horizontal: center;
  color: #ff6b6b;
  content-align: center middle;
  width: 90;
}

#conversation_box_centered {
  width: 100%;
  align-horizontal: center;
}

#conversation_box {
  overflow: hidden auto;
  border: tall #A9A9A9;
  margin: 1 0;

  width: 90;
}

.message {
  width: 100%;
  margin: 1;
}

.user {
  color: #696969
}

.agent { }

.error {
  color: red;
}

.log {
  background: gray 20%;
  outline: wide gray;
}

#input_box {
  dock: bottom;
  width: 100%;
  align-horizontal: center;
  height: auto;
}

#message_input {
  width: 90;
  background: #000000;
  border: tall #A9A9A9;
}
